Prosperity/data/*.pkl
Prosperity/data/*.pkl

saved_models/

data/

*/__pycache__/
*/**/__pycache__/
*.pyc
dumps/
ETsnn_laterewind_ut/

runs/
logs/
*.log
*.pth
*.pt
*.ckpt
*.tar
*.zip   
*.tar.gz
*.h5
# *.npy
*.npz
*.ckpt.index
*.ckpt.data-00000-of-00001
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/
snn_laterewind_lth/

gradR/
Prosperity/